<h1>Project Listing</h1>
<table border="1">
	<tr>
		<th>Name</th>
		<th>Description</th>
		
	</tr>
	<% @projects.each do |project| %>
	<tr>
		<td><%= project.name %></td>
		<td><%= project.description%></td>
	</tr>
	<% end %>
</table>
<%= link_to "New Project", new_project_path %>